.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: rgb(48, 48, 163);

}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-style: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton {
    width: 70%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}